<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.nu.jam.capstone">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ReplyToCommentActivity"
            android:label="Reply To Comment Activity"
            android:parentActivityName=".NavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavDrawerActivity"/>
        </activity>
        <activity android:name=".InitialSurveyActivity"
            android:label="Initial Survey Activity"
            android:parentActivityName=".NavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavDrawerActivity"/>
        </activity>
        <activity android:name=".MajorityConcernActivity"
            android:label="Majority Concern Activity"
            android:parentActivityName=".NavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavDrawerActivity"/>
        </activity>
        <activity android:name=".PasswordRecoveryActivity"/>
        <activity android:name=".PasswordResetActivity"/>
        <activity android:name=".SessionSelectionActivity"
            android:label="Session Selection Activity"
            android:parentActivityName=".NavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavDrawerActivity"/>
        </activity>
        <activity android:name=".SurveySelectionActivity"
            android:label="Survey Selection Activity"
            android:parentActivityName=".NavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavDrawerActivity"/>
        </activity>
        <activity android:name=".ViewRepliesActivity"
            android:label="View Replies Activity"
            android:parentActivityName=".NavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavDrawerActivity"/>
        </activity>
        <activity android:name=".ProgressiveSurveyActivity"
            android:label="Progressive Survey Activity"
            android:parentActivityName=".NavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavDrawerActivity"/>
        </activity>
        <activity android:name=".NewCommentActivity"
            android:label="New Comment Activity"
            android:parentActivityName=".NavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavDrawerActivity"/>
        </activity>
        <activity android:name=".NavDrawerActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>